.header__main {
  position: sticky;
  z-index: 10;
  background-color: inherit;
  padding: 1rem;
}

.header__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.5rem, 0.75rem + 0.1vw, 1rem);
}

.header__logo {
  width: 48px;
  height: 48px;
  aspect-ratio: 1 / 1;
}

.header__logo-title {
  font-size: var(--text-lg);
}
