/* Text */

.section-title-white {
  color: var(--color-surface);
}

/* Margin and paddings */

.section-mt {
  margin-top: clamp(3rem, 6vw, 6rem);
}

.space {
  padding: var(--space-8) 0;
}

/* Flex */

.flex {
  display: flex;
}

.flex-one {
  flex: 1;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* Grid */

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

@media (max-width: 768px) {
  .grid-2 {
    grid-template-columns: 1fr;
    place-items: center;
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

@media (max-width: 768px) {
  .grid-3 {
    grid-template-columns: 1fr;
    place-items: center;
  }
}

.reverse {
  order: 1;
}
