html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-main);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  background: inherit;
}

section:nth-of-type(even) {
  background: var(--color-bg-soft);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--color-text-main);
}
