.section-title {
  font-size: var(--text-xl);
  font-weight: 500;
  padding: 3rem 0;
}

.section-title::after {
  content: "";
  display: inline-block;
  width: clamp(6px, 1vw, 12px);
  height: clamp(6px, 1vw, 12px);
  background-color: var(--color-primary);
  border-radius: 50%;
  margin-left: 0.25rem;
}

.subtitle {
  font-size: var(--text-lg);
}

.section-title-black {
  color: var(--color-text-main);
}
