.header {
  position: sticky;
  top: 0;
  z-index: var(--z-sticky);
  background-color: inherit;
  padding: var(--space-4) 0;
  width: 100%;
  padding-inline: var(--space-4);
}

.header__container {
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.5rem, 0.75rem + 0.1vw, 1rem);
}

.header__logo {
  width: 48px;
  height: 48px;
  aspect-ratio: 1 / 1;
}

.header__logo-title {
  font-size: var();
}

@media (max-width: 1124px) {
  .header {
    position: relative;
  }
}
